[Unit]
Description=Conky
Requires=xmonad.target
After=xmonad.target

[Service]
ExecStart=/usr/bin/conky
Restart=always

[Install]
WantedBy=default.target

