[Unit]
Description=Music Player Daemon

[Service]
ExecStart=/usr/bin/mpd --no-daemon ~/.mpd/mpd.conf
Restart=always

[Install]
WantedBy=default.target

