[Unit]
Description=mpDris2
After=mpd.target

[Service]
Type=dbus
ExecStart=/usr/bin/mpDris2
BusName=org.mpris.MediaPlayer2.mpd
Restart=always

[Install]
WantedBy=default.target

