[Unit]
Description=Screen initialisation 
Requires=xmonad.target
After=xmonad.target

[Service]
Type=oneshot
Environment=DISPLAY=:0
Environment=VDPAU_NVIDIA_NO_OVERLAY=1
ExecStart=/usr/bin/xset -dpms
ExecStart=/usr/bin/xset s off
Restart=no
RemainAfterExit=yes

[Install]
WantedBy=xmonad.target
