[Unit]
Description=Terminal initialisation
After=xorg.target
Before=xscreensaver.service

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/xrdb /home/nick/.Xresources
Restart=no
RemainAfterExit=yes

[Install]
WantedBy=xmonad.target
