[Unit]
Description=Xmonad service
Requires=xorg@0.socket

[Service]
ExecStart=/home/nick/.cabal/bin/xmonad
Restart=always
RestartSec=10
 
[Install]
WantedBy=xmonad.target
