[Unit]
Description=Screensaver and lock initialisation
After=xorg.target
Conflicts=screen.service

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/xscreensaver -no-splash
Restart=always

[Install]
WantedBy=xmonad.target
